[Unit]
Description=Heimnet OVFConfig
Before=networking.service

[Service]
Type=oneshot
ExecStart=/root/heimnet-ovfconfig/scripts/ovfconfig.sh
TimeoutSec=30
RemainAfterExit=yes

[Install]
RequiredBy=networking.service