[Unit]
Description=Heimnet OVFConfig
Before=network.target

[Service]
Type=oneshot
ExecStart=/root/heimnet-ovfconfig/scripts/ovfconfig.sh
TimeoutSec=30
RemainAfterExit=yes

[Install]
RequiredBy=network.target